<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="connection" connectionString="Data Source=RICARDOPC\SQLEXPRESS;Initial Catalog=CineDays;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Datos.Properties.Settings.ClubExceptionConnectionString"
      connectionString="Data Source=RICARDOPC\SQLEXPRESS;Initial Catalog=ClubException;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos.Properties.Settings.ClubExceptionConnectionString"
            connectionString="Data Source=AE-PC\SQLEXPRESS;Initial Catalog=ClubException;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  

</configuration>